<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.StudentDAO">
    <insert id="insert" parameterType="Student">
    insert into T_Student (ID,NAME,AGE,SEX) values (#{id},#{name},#{age},#{sex})
</insert>
    <delete id="delete" parameterType="java.lang.String">
        delete from t_student where id=#{id}
    </delete>
<update id="update" parameterType="Student">
    update t_student set name=#{name},age=#{age},sex=#{sex} where id=#{id}
</update>
</mapper>
