<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:bean="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--读取jdbc.properties-->
    <context:property-placeholder location="jdbc.properties"></context:property-placeholder>
    <!--配置连接数据库的相关参数 数据源 引入jdcp连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!--连接数据库的驱动-->
        <property name="driverClassName" value="${driver}"></property>
        <!--连接数据库的URL-->
        <property name="url" value="${url}"></property>
        <!--连接数据库的用户名-->
        <property name="username" value="${name}"></property>
        <!--连接数据库的密码-->
        <property name="password"  value="${password}"></property>
    </bean>

<!--自动创建sqpSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--依赖数据源 第一个dataSource是抽取的属性名-->
        <!--第二个datasource 引入配置好的数据源-->
        <property name="dataSource" ref="dataSource">
        </property>
        <property name="typeAliasesPackage">
            <value>com.baizhi.entity</value>
        </property>
        <!--mapper文件注册-->
        <property name="mapperLocations">
        <list>
            <value>com/baizhi/dao/*Mapper.xml</value>
        </list>
    </property>
            </bean>
    <!--自动创建DAO实现类对象-->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage">
            <value>com.baizhi.dao</value>
        </property>

    </bean>
    <bean id="studentService" class="com.baizhi.service.StudentServiceImpl">
        <property name="studentDAO" ref="studentDAO"></property>
    </bean>
    <!--引入事务的额外功能类-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property  name="dataSource" ref="dataSource"></property>
    </bean>
    <!--描述事务的属性-->
    <tx:advice id="dstm" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert" propagation="SUPPORTS"/>
            <tx:method name="delete"/>
            <tx:method name="update"/>
        </tx:attributes>
    </tx:advice>
    <!--定义切入点-->
    <bean:config>
        <aop:pointcut id="pc" expression="execution(* com.baizhi.service..*.*(..))"></aop:pointcut>
    <aop:advisor advice-ref="dstm" pointcut-ref="pc"></aop:advisor>
    </bean:config>
</beans>